<div id="content">
  <!-- Nivo Slider Start -->
  <%= render "erp/phuong_tung_plastics/frontend/modules/home/slider" %>
  <!-- Nivo Slider End-->
  
  <!-- Welcom Text Start-->
  <%= render "erp/phuong_tung_plastics/frontend/modules/home/welcome_text" %>
  <!-- Welcom Text End-->
  
  <!-- Featured Product Start-->
  <section class="box">
    <div class="box-heading">Sản Phẩm Bán Chạy</div>
    <div class="box-content">
      <div class="box-product">
        <div class="flexslider featured_carousel">
          <ul class="slides">
            <% Erp::MiniStores::Product.get_bestseller_products.each do |product| %>
            <li>
              <div class="slide-inner">
                <div class="image">
                  <%= link_to image_tag(product_image(product, 'thumb350280'), title: product.name, alt: product.name, width: "178"), product_link(product), title: product.name %>
                </div>
                <div class="name">
                  <%= link_to product.name, product_link(product), title: product.name %>
                </div>
                <% if product.is_deal == 'true' %>
                  <div class="sales_price"><del><%= format_price(product.price) %></del></div>
                  <div class="price"><%= format_price(product.deal_price) %></div>
                <% else %>
                  <div class="price"><%= product.price.to_i == 0 ? 'Giá liên hệ' : format_price(product.price) %></div>
                <% end %>  
                <div class="clear"></div>
              </div>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <script type="text/javascript">
  (function() {
  // store the slider in a local variable
  var $window = $(window),
  flexslider;
  
  // tiny helper function to add breakpoints
  function getGridSize() {
  return (window.innerWidth < 320) ? 1 :
  (window.innerWidth < 600) ? 2 :
  (window.innerWidth < 800) ? 3 :
     (window.innerWidth < 900) ? 4 : 5;
  }
  $window.load(function() {
  $('#content .featured_carousel').flexslider({
  animation: "slide",
  animationLoop: false,
  slideshow: false,
  itemWidth: 210,
  minItems: getGridSize(), // use function to pull in initial value
  maxItems: getGridSize() // use function to pull in initial value
  });
  });
  }());
  </script>
  <!-- Featured Product End-->
  <!-- Product Tab Start-->
  <section id="product-tab" class="product-tab">
    <ul id="tabs" class="tabs">
      <li><a href="#tab-product-vertical">Bồn dạng đứng</a></li>
      <li><a href="#tab-product-horizontal">Bồn dạng ngang</a></li>
    </ul>
    <div id="tab-product-vertical" class="tab_content">
      <div class="box-product">
        <div class="flexslider latest_carousel_tab">
          <ul class="slides">
            <% Erp::MiniStores::Product.get_vertical_products.each do |product| %>
            <li>
              <div class="slide-inner">
                <div class="image">
                  <%= link_to image_tag(product_image(product, 'thumb350280'), title: product.name, alt: product.name, width: "178"), product_link(product), title: product.name %>
                </div>
                <div class="name">
                  <%= link_to product.name, product_link(product), title: product.name %>
                </div>
                <% if product.is_deal == 'true' %>
                  <div class="sales_price"><del><%= format_price(product.price) %></del></div>
                  <div class="price"><%= format_price(product.deal_price) %></div>
                <% else %>
                  <div class="price"><%= product.price.to_i == 0 ? 'Giá liên hệ' : format_price(product.price) %></div>
                <% end %>
                <div class="clear"></div>
              </div>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div id="tab-product-horizontal" class="tab_content">
      <div class="box-product">
        <div class="flexslider bestseller_carousel_tab">
          <ul class="slides">
            <% Erp::MiniStores::Product.get_horizontal_products.each do |product| %>
            <li>
              <div class="slide-inner">
                <div class="image">
                  <%= link_to image_tag(product_image(product, 'thumb350280'), title: product.name, alt: product.name, width: "178"), product_link(product), title: product.name %>
                </div>
                <div class="name">
                  <%= link_to product.name, product_link(product), title: product.name %>
                </div>
                <% if product.is_deal == 'true' %>
                  <div class="sales_price"><del><%= format_price(product.price) %></del></div>
                  <div class="price"><%= format_price(product.deal_price) %></div>
                <% else %>
                  <div class="price"><%= product.price.to_i == 0 ? 'Giá liên hệ' : format_price(product.price) %></div>
                <% end %>
                <div class="clear"></div>
              </div>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>  
  </section>
  <script type="text/javascript">
    (function() {
      // store the slider in a local variable
      var $window = $(window),
          flexslider;
      // tiny helper function to add breakpoints
      function getGridSize() {
        return (window.innerWidth < 320) ? 1 :
           (window.innerWidth < 600) ? 2 :
           (window.innerWidth < 800) ? 3 :
               (window.innerWidth < 900) ? 4 : 5;
      }
      $window.load(function() {
        $('#product-tab .featured_carousel_tab, #product-tab .latest_carousel_tab, #product-tab .bestseller_carousel_tab, #product-tab .special_carousel_tab').flexslider({
          animation: "slide",
          animationLoop: false,
        slideshow: false,
          itemWidth: 210,
          minItems: getGridSize(), // use function to pull in initial value
          maxItems: getGridSize(), // use function to pull in initial value
        start: function(){
          $("#product-tab .tab_content").addClass("deactive");
          $("#product-tab .tab_content:first").removeClass("deactive"); //Show first tab content
          } });
      });
    
    $(document).ready(function() {
        //Default Action
        $("ul#tabs li:first").addClass("active").show(); //Activate first tab
        //On Click Event
        $("ul#tabs li").click(function() {
            $("ul#tabs li").removeClass("active"); //Remove any "active" class
            $(this).addClass("active"); //Add "active" class to selected tab
        $("#product-tab .tab_content").hide(); 
            var activeTab = $(this).find("a").attr("href"); //Find the rel attribute value to identify the active tab + content
            $(activeTab).fadeIn(); //Fade in the active content
            return false;
        });
    });}());
    </script>
  <!-- Product Tab End-->
</div>