<footer id="footer">
  <div class="fpart-inner">      
    <!-- Facebook Box Part Start-->
    <div id="facebook" class="part3">
    <h3>Theo Dõi Chúng Tôi</h3>
    </div>
    <!-- Facebook Box Part End-->
    <div class="column">
      <h3>Chăm Sóc Khách Hàng</h3>
      <ul>
        <li><%= link_to "Hướng dẫn mua hàng", "" %></li>
        <li><%= link_to "Hướng dẫn thanh toán", "" %></li>        
        <li><%= link_to "Chính sách bảo hành", "" %></li>
        <li><%= link_to "Chính sách giao nhận", "" %></li>
      </ul>
    </div>
    <div class="column">
      <h3>Liên Kết Nhanh</h3>
      <ul>
        <li><%= link_to "Trang chủ", erp_phuong_tung_plastics.root_path %></li>
        <li><%= link_to "Giới thiệu", erp_phuong_tung_plastics.about_us_path %></li>
        <li><%= link_to "Bồn nước nằm ngang", "" %></li>
        <li><%= link_to "Bồn nước dạng đứng", "" %></li>
        
      </ul>
    </div>
    <!-- Contact Details Start-->
    <div class="contact contact_icon">
      <h3>Thông Tin Liên Hệ</h3>
      <ul>
        <li class="address">280/128 Đường ĐT2, Ấp 2, Xã Đông Thạnh, Huyện Hóc Môn, TP. Hồ Chí Minh</li>
        <li class="mobile"><%= link_to "(08) 6271 8845", "tel:0862718845" %> - <%= link_to "(08) 6271 8846", "tel:0862718845" %></li>
        <li class="email"><a href="mailto:lienhe@phuongtungplastics.com">lienhe@phuongtungplastics.com</a></li>
      </ul>
    </div>
    <!-- Contact Details End-->
    <div class="clear"></div>
    <div id="powered">
      <!-- Powered by Text Start-->
      <div class="powered_text part3">
        <p>&copy; 2017 Công Ty TNHH MTV Phương Tùng. All Rights Reserved<br>
          Phát triển bởi <%= link_to "Hoang Khang Incotech", "http://hoangkhang.com.vn/", title: "Công Ty TNHH giải Pháp CNTT & TT Hoàng Khang", target: "_blank" %></p>
      </div>
      <!-- Powered by Text End-->
      <!-- Follow Social Icons Start-->
      <div class="social part3">
        <a href="" target="_blank">
          <img src="/frontend/image/facebook.png" alt="Facebook" title="Facebook">
        </a>
        <a href="" target="_blank">
          <img src="/frontend/image/pinterest.png" alt="Pinterest" title="Pinterest">
        </a>
      <!-- Follow Social Icons End-->
      <div class="clear"></div>
    </div>
    <!-- Back to Top Button Start-->
    <div class="back-to-top" id="back-top"><a title="Lên đầu trang" href="javascript:void(0)" class="backtotop">Lên đầu trang</a></div>
    <!-- Back to Top Button End-->
  </div>
</footer>