<footer id="footer">
  <div class="fpart-inner">      
    <!-- Facebook Box Part Start-->
    <div class="content-footer column">
      <h3>Thương Hiệu Long Nhiên</h3>
      <p class="justify">
        Các sản phẩm Bồn nước hiệu Long Nhiên đã đạt được Chứng nhận chất lượng hàng hóa do Trung tâm tiêu chuẩn
        đo lường chất lượng III cấp ngày 12/04/2004... Đồng thời đạt Thương Hiệu Vàng, Cúp Vàng & Huy Chương Vàng
        tại Hội Chợ VIETBUILD 2005.
      </p>
    </div>
    <!-- Facebook Box Part End-->
    <div class="care column">
      <h3>Chăm Sóc Khách Hàng</h3>
      <ul>
        <li><%= link_to "Hướng dẫn mua hàng", "" %></li>
        <li><%= link_to "Hướng dẫn thanh toán", "" %></li>        
        <li><%= link_to "Chính sách bảo hành", "" %></li>
        <li><%= link_to "Chính sách giao nhận", "" %></li>
      </ul>
    </div>
    <div class="ct_info contact contact_icon">
      <h3>Thông Tin Liên Hệ</h3>
      <ul>
        <li class="address">280/128 Đường Huỳnh Thị Na , Ấp 2, Xã Đông Thạnh, Huyện Hóc Môn, Thành phố Hồ Chí Minh, Việt Nam</li>
        <li class="mobile">Điện thoại: <%= link_to "(08) 6271 8845", "tel:0862718845" %></li>
        <li class="fax">Số Fax: <%= link_to "(08) 6271 8846", "tel:0862718846" %></li>
        <li class="email">Email: <a href="mailto:phongvt@ptplastics.com.vn">phongvt@ptplastics.com.vn</a></li>
      </ul>
    </div>
    <!-- Contact Details End-->
    <div class="clear"></div>
    <div id="powered">
      <!-- Powered by Text Start-->
      <div class="powered_text part3">
        <p>Copyright &copy; 2017 - Phuong Tung Service Tranding Production Co., Ltd<br>
          Powered and Designed by <%= link_to "Hoang Khang Incotech", "http://hoangkhang.com.vn/", target: "_blank" %></p>
      </div>
      <!-- Powered by Text End-->
      <!-- Follow Social Icons Start-->
      <div class="social part3">
        <a href="javascript:void(0)" target="_blank">
          <img src="/frontend/image/facebook.png" alt="Facebook" title="Facebook">
        </a>
        <a href="javascript:void(0)" target="_blank">
          <img src="/frontend/image/pinterest.png" alt="Pinterest" title="Pinterest">
        </a>
      <!-- Follow Social Icons End-->
      <div class="clear"></div>
    </div>
    <!-- Back to Top Button Start-->
    <div class="back-to-top" id="back-top"><a title="Lên đầu trang" href="javascript:void(0)" class="backtotop">Lên đầu trang</a></div>
    <!-- Back to Top Button End-->
  </div>
</footer>