<div class="box">
  <div class="box-heading">Sản phẩm mới</div>
  <div class="box-content">
    <div class="box-product">
      <div class="flexslider">
        <ul class="slides">
          <% Erp::MiniStores::Product.get_newest_products().each do |product| %>
          <li>
            <div class="slide-inner">
              <div class="image">
                <%= link_to image_tag(product_image(product, 'thumb350280'), alt: product.name, title: product.name, width: "45"), product_link(product), title: product.name %>
              </div>
              <div class="name">
                <%= link_to product.name, product_link(product), title: product.name %>
              </div>
              <% if product.is_deal == 'true' %>
                <div class="sales_price"><del><%= format_price(product.price) %></del></div>
                <div class="price"><%= format_price(product.deal_price) %></div>
              <% else %>
                <div class="price"><%= product.price.to_i == 0 ? 'Giá liên hệ' : format_price(product.price) %></div>
              <% end %>
              <div class="clear"></div>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>