<!--Left Part-->
<div id="column-left">
    <!--Bestsellers Part Start-->
    <%= render "erp/phuong_tung_plastics/frontend/modules/bestseller" %>
    <!--Bestsellers Part End-->
    <!--Banner Start-->
    <div class="banner">
        <div>
            <%= link_to image_tag("/frontend/image/product/small-banner1-220x350.jpg", alt: "", title: ""), "", title: "" %>
        </div>
    </div>
    <!--Banner End-->
</div>
<!--Left End-->
<!--Middle Part Start-->
<div id="content">
    <div class="breadcrumb"><%= link_to "Trang Chủ", erp_phuong_tung_plastics.root_path %> &raquo;
          <%= link_to @product.name, "javascript:void(0)" %>
    </div>
    <h1><%= @product.name %></h1>
    <div class="product-info">
        <div class="left">
            <div class="image">
                <% if @product.main_image.nil? %>
                    <img src="<%= url_for('/frontend/image/product/no-image.png') %>" id="image" />
                <% else %>
                    <a href="<%= @product.main_image.image_url.thumb500400 %>" title="" class="cloud-zoom colorbox" id='zoom1' rel="adjustX: 0, adjustY:0, tint:'#000000',tintOpacity:0.2, zoomWidth:360, position:'inside', showTitle:false">
                        <img src="<%= @product.main_image.image_url.thumb350280 %>" title="" alt="" id="image" />
                        <span id="zoom-image"><i class="zoom_bttn"></i> Phóng to hình ảnh</span>
                    </a>
                <% end %>
            </div>
            <div class="image-additional">
                <% @product.product_images.each do |product_image| %>
                    <a href="<%= product_image.image_url.thumb500400 %>" title="<%= @product.name %>" class="cloud-zoom-gallery" rel="useZoom: 'zoom1', smallImage: '<%= product_image.image_url.thumb350280 %>' ">
                        <%= image_tag product_image.image_url.thumb350280, width: "62", title: @product.name, alt: @product.name %>
                    </a>
                <% end %>
            </div>
        </div>
        <div class="right">
            <div class="description">
                <span>Thương hiệu:</span> <%= @product.brand_name %><br>
                <span>Dung tích:</span> <br>
                <span>Chiều cao:</span> <br>
                <span>Chiều ngang:</span> <br>
            </div>
            <div class="price">
                Giá bán:
                <% if @product.is_deal == 'true' %>
                    <span class="price-old"><%= format_price(@product.price) %></span> &nbsp; <span class="price-new"><%= format_price(@product.deal_price) %></span>
                <% else %>
                    <span class="price-new"><%= format_price(@product.price) %></span>
                <% end %>
            </div>      
        </div>
    </div>
    <!-- Description and Reviews Tab Start -->
    <div id="tabs" class="htabs"><a href="#tab-description">MÔ TẢ SẢN PHẨM</a></div>
    <div id="tab-description" class="tab-content">
        <%= raw @product.description %>
    </div>
    <script>
        $(document).ready(function() {
            $('#tabs a').tabs();
        });
    </script>
    <!-- Description and Reviews Tab Start -->
    <!--Related Product Start-->
    <div class="box">
        <div class="box-heading">SẢN PHẨM LIÊN QUAN</div>
        <div class="box-content">
            <div class="box-product">
                <div class="flexslider" id="related_pro">
                    <ul class="slides">
                        <% @product.get_related_products.each do |product| %>
                            <li>
                                <div class="slide-inner">
                                    <div class="image">
                                        <%= link_to image_tag(product_image(product, 'thumb350280'), title: product.name, alt: product.name, width: "166"), product_link(product), title: product.name %>
                                    </div>
                                    <div class="name">
                                        <%= link_to product.name, product_link(product), title: product.name %>
                                    </div>
                                    <% if product.is_deal == 'true' %>
                                        <div class="sales_price"><del><%= format_price(product.price) %></del></div>
                                        <div class="price"><%= format_price(product.deal_price) %></div>
                                    <% else %>
                                        <div class="price"><%= format_price(product.price) %></div>
                                    <% end %>
                                    <div class="clear"></div>
                                </div>
                            </li>
                        <% end %>           
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        (function() {
            // store the slider in a local variable
            var $window = $(window),
              flexslider;
            // tiny helper function to add breakpoints
            function getGridSize() {
              return (window.innerWidth < 320) ? 1 :
                (window.innerWidth < 600) ? 2 :
                (window.innerWidth < 800) ? 3 :
                (window.innerWidth < 900) ? 3 : 4;
            }
            $window.load(function() {
              $('#content #related_pro').flexslider({
                animation: "slide",
                animationLoop: false,
                slideshow: false,
                itemWidth: 210,
                minItems: getGridSize(), // use function to pull in initial value
                maxItems: getGridSize() // use function to pull in initial value
              });
            });
        }());
    </script>
    <!--Related Product End-->
</div>
<!--Middle Part End-->